:root {
  /* Colors */
  --bg-color: #222;
  --text-color: #fff;

  /* Font sizes */
  --font-size-xxlarge: 200%;
  --font-size-xlarge: 150%;
  --font-size-large: 125%;
  --font-size-small: 87.5%;
  --line-height: 1.4;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--bg-color);
  color: var(--text-color);
  line-height: var(--line-height);
}

a {
  color: var(--text-color);
}

/**
 * Layout
 */

@media (min-width: 36em) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main[role=main] {
    flex: 1;
  }
}

.alerts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 1rem;
}
.alerts .alert {
  max-width: 22em;
}
.alerts .alert + .alert {
  margin-left: 1rem;
}

