{{!
  Currently component.
}}
<article class="currently">
  <header>
    <h1>{{>temp temp=currently.temperature precision=1}}</h1>
    <p>{{currently.summary}}</p>
  </header>

  <div id="chart"></div>
</article>

