/**
 * Alert component.
 */

.alert a {
  background: var(--text-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
}
.alert-title {
  font-size: 100%; /*var(--font-size-large);*/
  line-height: var(--line-height);
  margin: 0 0 .25rem;
  order: 2;
}
.alert-meta {
  font-size: var(--font-size-small);
  margin: 0 0 .25rem;
  opacity: .75;
}
.alert-content {
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 90%
  );
  order: 3;
}

.alert-content {
  max-height: calc(var(--line-height) * 3em);
  overflow: hidden;
}
.alert-content > *:first-child {
  margin-top: 0;
}
.alert-content > *:last-child {
  margin-bottom: 0;
}

